/.idea/
/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
*.out
*.o

# Ignore virtual environments
*.egg
*.egg-info/
dist/
build/

# Ignore test artifacts
*.pytest_cache
coverage/
.tox/

parser.out
parsetab.py

TestFiles/ShowcaseFiles/Show1.up

GrammarProgrammer/format.txt
GrammarProgrammer/output_conflicts.txt
GrammarProgrammer/output.csv
GrammarProgrammer/GrammarOut.csv